*
{
    margin: 0;
    padding: 0;
}   


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-nav li 
{
    padding: 0 10px;
    
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: lightblue;
}
.navbar
{
    background: white;
}
.navbar-toggler{
    border: none!important;
}

.nav-link{
    color:#555;
    font-weight: 600;
    font-size: 16px;
}
.navbar-brand{
    font-weight: 500;
    font-size: 16px;
    background: rgb(186,150,46);
    background: -webkit-linear-gradient(90deg, rgba(186,150,46,1) 0%, rgba(203,178,106,1) 50%, rgba(186,150,46,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#slider{
    width: 100%;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about h1{
    text-align: center;
}
#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-top: 20px;
 
}

#photo{
    color: #555;
}
#photo h1{
    text-align: center;
}
#photoslider{
    padding-top: 20px;
    padding-bottom: 20px;
}

#reviews h1{
    text-align: center;
    color: #555;   
}
#reviews blockquote{
    padding-top: 10px;
    color: slategrey;
}
.col-md-4{
    margin: 40px auto;
}

.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#footer
{
    background: #333;
    color: #fff;
    padding: 12px;
    margin-top: auto;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

#footer h5{
    margin-bottom: 16px;
}

#footer li{
    margin-bottom: 2px;
    margin-left: 100px;
}

.col-md-5 h5{
    margin-left: 145px;
}

